# --- Airflow ---
# Logs e banco local
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# Arquivos temporários e de teste do Airflow
airflow/unittests.cfg
airflow/*.pid

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
venv/
.env/
.venv/
env/

# --- Docker ---
*.pid
*.log
*.tmp

# --- Banco de dados e cache ---
*.sqlite
*.db

# --- Configs locais ---
.env
*.local

# --- IDEs ---
.vscode/
.idea/
*.code-workspace

# --- Sistema / OS ---
.DS_Store
Thumbs.db
