# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
venv/
.env/
.venv/
env/

# --- Docker ---
*.pid
*.log
*.tmp

# --- Banco de dados e cache ---
*.sqlite
*.db

# --- Configs locais ---
.env
*.local

# --- IDEs ---
.vscode/
.idea/
*.code-workspace

# --- Sistema / OS ---
.DS_Store
Thumbs.db
